{% extends "base.html" %}
{% block name_me %}
List
{% endblock name_me %}
{% block stuff %}

	{% for item in articles %}
	<ul>
		
<a href="{% url 'name_list' name_id=item.id %}"><li> Name :{{item.name}} </li> </a>
		<li>Description :{{item.description}} </li>
		<li>Opening Time :{{item.opening_time}} </li>
		<li> Closing Time : {{item.closing_time}} </li>
		<li> <a href="{% url 'business_update' name_id=item.id %}"> update ME </a></li>
		<li> <a href="{% url 'delete' name_id=item.id %}"> delete me </a> </li>
	</ul>
	{% endfor %}

{% endblock stuff %}