{% extends "base.html" %}
{% block name_me %}
update
{% endblock name_me %}
{% block stuff %}
{% load crispy_forms_tags %}
<div class="container">
	<!-- we are telling the -->
	<div class=" row">
  <!-- the business_update is the variable in the urls.py file it tells is go to URL file and url file will send it bach to the view.py for the function in it -->
	<form action="{% url 'item_update' item_id=item_obj.id %}" method="POST">
				{% csrf_token %} 
				{{item_update_form|crispy}}
				<input type="submit" value ="Update" class="btn btn-dark" onclick="alert('Updated!')">

	</form>
	</div>
</div>


{% endblock stuff %}